{-# LANGUAGE OverloadedStrings #-}
module Main where

import Application
import Network.Wai.Handler.Warp
import Network.Wai.Middleware.RequestLogger
import System.Environment

main :: IO ()
main = do
  env <- getEnvironment
  let port = maybe 3000 read $$ lookup "PORT" env
  app (run port . logStdout)

