<!DOCTYPE HTML>
<html>
  <head>
    <title>Simple B&#955og</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header id="sidebar">
    <a href="/"><img src="/images/haskell-logoc.svg" class="logo"></a>
    <h1><a href="/">Simple B&#955og</a></h1>
    <h2>the simple framework</h2>
    <h3>
      this blog demostrates the basic capabilities
      of the simple web framework.
    </h3>
    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/admin">Admin</a></li>
    </ul>
  </header>
  <section id="river">
$yield$
  </section>
  <footer>
    Made with the <a href="http://simple.cx">simple</a>
    web framework.
  </footer>
</body>
</html>
