<header><h2>New Post</h2></header>
$if(errors)$
<ul class="errors">
$for(err in errors)$
  <li>$err.error$</li>
$endfor$
</ul>
$endif$
<form class="content" action="/admin/posts"
  method="post" acceptCharset="UTF-8">
  <p><input type="text" name="title" id="title" placeholder="title"
    value="$post.postTitle$"/></p>
  <p>
    <input type="text" name="slug" id="slug"
    placeholder="slug (leave blank to autogenerate from title)"
    value="$post.postSlug$"/>
  </p>
  <p>
    <textarea name="body" id="body" placeholder="post body...">$post.postBody$</textarea>
  </p>
  <input type="submit" value="Submit"/>
</form>

