body {
  background-color: white;
  font-family: Ubuntu, Helvetica, Arial;
  font-size: 16px;
  overflow-x: hidden;
}

h1, h2, h3 h4 {
  margin-top: 0px;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 30px;
  padding-left: 3%;
  width: 22%;
  height: 100%;
}

#sidebar h2 {
  font-size: 18px;
}

#sidebar h3 {
  font-size: 14px;
  font-weight: normal;
}

#sidebar .logo {
  display: block;
  width: 75%;
  max-width: 240px;
  border-radius: 300px;
  margin-bottom: 35px;
}

ul.nav {
  list-style-type: none;
  padding: 0px;
  text-transform: lowercase;
}

#sidebar ul.nav {
  margin-top: 40px;
}

ul.nav li {
  margin-top: 10px;
  color: #666;
  font-weight: 700;
}

ul.nav a {
  text-decoration: none;
  color: inherit;
  padding: 5px;
}

#sidebar ul.nav a {
  display: block;
}

ul.nav a:hover {
  color: #333;
  border-radius: 5px;
  border: 1px solid #666;
}

body > footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 20%;
  padding: 0 0 5px 40px;
  font-size: 11px;
  text-align: center;
}

#river {
  position: absolute;
  top: 0;
  margin-left: 25%;
  border-left: 1px solid #ccc;
  min-height: 100%;
  width: 75%;
}

#river header > * {
  color: black;
  padding-left: 40px;
}

#river header > h2 {
  padding-top: 40px;
}

#river header > time {
  display: block;
  border-bottom: 1px solid #ccc;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
}

#river footer {
  text-align: center;
  font-size: small;
}

h1 a, h2 a, h3 a {
  color: inherit;
  text-decoration: inherit;
}

.content {
  padding-left: 40px;
  padding-right: 40px;
}

.post {
  border-bottom: 1px solid #ccc;
}

.post h1, .post h2, .post h3 {
  margin-top: 1em;
}

.post .content {
  max-width: 40em;
}

.post blockquote {
  margin-right: 0;
  padding: 5px;
  border-left: 3px solid #ccc;
}

form {
  width: 60%;
}

input[type="text"], textarea {
  border: 1px solid #ccc;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

textarea#body {
  height: 350px;
}

input#title, textarea {
  width: 100%;
}

input#title {
  font-weight: 700;
  font-size: 20px;
}

hr {
  border: 0px;
  border-top: 1px solid #666;
}

pre {
  padding: 15px;
  background-color: #dfb;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #ccc;
}

code {
  font-family: Ubuntu Mono, monospace;
}

ol#comments {
  padding: 0px;
}

ol#comments li {
  list-style-type: none;
}

.comment {
  padding-left: 60px;
}

.comment .vcard {
  padding-top: 1em;
}

.comment .vcard img {
  position: absolute;
  left: 40px;
  padding-top: 0.3em;
}

.comment p {
  clear: both;
}

#admin ul.nav li {
  display: inline;
}

#admin header {
  clear: both;
}

#admin .banner {
  border-bottom: 1px solid #ccc;
}

.admin-posts-list {
  width: 100%;
}

.admin-posts-list .action {
  width: 30px;
}

.admin-posts-list .title {
  font-weight: 500;
}

.admin-posts-list .date {
  text-align: center;
}

#login {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #eee;
}

.login_form {
  width: 400px;
  margin: 90px auto;
  border: 10px solid #ddd;
  padding: 20px;
  background-color: #fff;
}

.login_form form {
  width: 100%;
}

.login_form input[name="openid_identifier"] {
  width: 85%;
  background: url(/images/openid-16x16.gif) no-repeat scroll 5px center;
  padding-left: 25px;
  line-height: 1.5em;
  font-size: 16pt;
}
