body {
  max-width: 30em;
  font-size: 13pt;
  margin: 0 auto;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

h1 a {
  color: inherit;
  text-decoration: none;
}

h2 a {
  text-decoration: none;
  color: #333;
}

article {
  padding-top: 15px;
}

article .content {
  font-family: "Libre Baskerville", serif;
}

article .content p {
  text-align: justify;
}

body > footer {
  display: inline-block;
  font-size: 9px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 2px;
}

body > footer a {
  display: inline-block;
  height: 20px;
  width: 60px;
  line-height: 20px;
  text-align: center;
  background-color: #770;
  border-radius: 3px 3px 0 0;
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
}

section footer {
  font-size: small;
  text-align: center;
  border-top: 1px solid #ccc;
}

.comments {
  border-top: 1px solid #ccc;
}

ol#comments {
  padding: 0;
}

ol#comments > li {
  list-style: none;

}

.comment-author img {
  display: block;
}

.login_form input {
  display: block;
  margin-bottom: 10px;
}

.login_form input[name="openid_identifier"] {
  width: 85%;
  background: url(http://wiki.openid.net/f/openid-16x16.gif) no-repeat scroll left center;
  padding-left: 16px;
}

p.error {
  border: 2px solid red;
  padding: 3px;
}

.post blockquote {
  margin-right: 0;
  padding: 5px;
  border-left: 3px solid #ccc;
}

input[type="text"], textarea {
  border: 1px solid #ccc;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

textarea#body {
  height: 350px;
}

#admin input, textarea {
  width: 100%;
}

input#title {
  font-weight: 700;
  font-size: 20px;
}

hr {
  border: 0px;
  border-top: 1px solid #666;
}

pre {
  padding: 15px;
  background-color: #dfb;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #ccc;
}

code {
  font-family: Ubuntu Mono, monospace;
}

ol#comments {
  padding: 0px;
}

ol#comments li {
  list-style-type: none;
}

#login {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #eee;
}

.login_form {
  width: 400px;
  margin: 90px auto;
  border: 10px solid #ddd;
  padding: 20px;
  background-color: #fff;
}

.login_form form {
  width: 100%;
}

.login_form input[name="openid_identifier"] {
  width: 85%;
  background: url(/images/openid-16x16.gif) no-repeat scroll 5px center;
  padding-left: 25px;
  line-height: 1.5em;
  font-size: 16pt;
}

